.file {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    height: 36px;
}


.folder {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    cursor: pointer;
    user-select: none;
    padding: 10px;
    border-bottom: 1px solid #E0E3E7;
}

.folder:hover {
    background-color: rgba(89, 103, 195, 0.05);
}

.folder-container {
    width: 100%;
    padding: 0 0 0 20px;
}

.file-link {
    color: rgb(9, 103, 195) !important;
}